<style type="text/css">

body {
    background-color: #f5efe5;
    font-family: 'STIX Two Text', serif;
    font-weight: 500;
    font-size: 13.5px;
    line-height: 1.4;
    letter-spacing:1px;
    color: #190523;
    margin: 0;
}

a {
    color: #190523;
}

#header {
    height: 62px;
    position: fixed;
    background-color: #f5efe5;
    z-index: 5;
    width: 100%;
    top: 0px;
    opacity: 1;
    font-family: 'STIX Two Text', serif;
    font-weight: 500;
    letter-spacing:1px;
    line-height: 1.4;
    flex-wrap: wrap;
    justify-content: center;
}

#header a {
text-decoration:none;
}

#header a:hover {
    color:none;
    line-height: O.8em; 
    margin-bottom: 0px; 
    padding-bottom: 0px; 
    border-bottom: solid 1px;
    color: #190523;
}

#header-middle {
    z-index: 1;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #d91d12;
}

#logo {
    float: left;
    z-index: 1;
    margin-top: 12px;
    margin-left: 40px;
    margin-right: auto;
    text-align: left;
}

#header-right {
    float: right;
    z-index: 1;
    margin-top: 12px;
    margin-left: auto;
    margin-right: 40px;
    text-align: right;
}

span {
    font-size: 80%;
    vertical-align: sub;
    font-style: italic;
}

#footer {
    height: 62px;
    position: fixed;
    background-color: #f5efe5;
    z-index: 5;
    width: 100%;
    bottom: 0px;
    opacity: 1;
    font-family: 'STIX Two Text', serif;
    font-weight: 500;
    letter-spacing:1px;
    line-height: 1.4;
    width: 100%;
}

#footer a {
    text-decoration:none;
}

#footer a:hover {
    color:none;
    line-height: O.8em; 
    margin-bottom: 0px; 
    padding-bottom: 0px; 
    text-indent: 40px; 
    border-bottom: solid 1px;
    color: #e8e6d8;
}


#footer-left {
    float: left;
    z-index: 1;
    margin-top: 12px;
    margin-left: 40px;
    margin-right: auto;
    text-align: left;
}

#footer-middle {
    float: center;
    z-index: 1;
    margin-top: 12px;
    margin-right: auto;
    text-align: center;
}

#footer-right {
    float: right;
    z-index: 1;
    margin-top: 12px;
    margin-left: auto;
    margin-right: 40px;
    text-align: right;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
      
.gallery-image {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-image img {
    height: 400px;
    width: 400px;
    transform: scale(1.0);
    transition: transform 0.4s ease;
}

.img-box {
    box-sizing: content-box;
    margin: 10px;
    height: 400px;
    width: 400px;
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.caption-title {
    position: absolute;
    top: 20px;
    left: 20px;
    font-weight: 500;
    font-size: 16px;
    opacity: 0.0;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.caption-type {
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0.0;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.transparent-box {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.4s ease;
}

.img-box:hover img {
    filter: blur(5px);
}

.img-box:hover .transparent-box {
    background-color: #f5efe5;
}

.img-box:hover .caption-title {
  opacity: 1.0;
    color: #d91d12;
}
.img-box:hover .caption-type {
  opacity: 1.0;
    color: #190523;
}

.img-box:hover {
  cursor: pointer;
}

    @media screen and (max-width: 768px) {
      header {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      nav {
        justify-content: center;
        margin-top: 1rem;
      }

      main {
        flex-direction: column;
      }

      .project-text {
        position: static;
      }

      footer {
        flex-direction: column;
        text-align: center;
      }
      
</style>
